@{
    ViewData["Title"] = "Wallpapers shown here";
}
<h1>@ViewData["Title"]</h1>

<p>Wallpaper default page here. yo.</p>

@using System.Collections

@{
    ViewData["Title"] = "Wallpapers shown here";

}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData[""]</h2>

<table>
    <tr>
        <td>@ViewData["data"]</td>
    </tr>
    
</table>

<ul>

    @foreach (var data in (IEnumerable) ViewData["images"])
    {
        <li>
            @data;
        </li>
    }
</ul>
